.git
.gradle
.idea
.kotlin
.vscode

**/build
**/out
**/bin

*.iml
*.iws
*.ipr
*.log

.env
.env.*
!.env.example

application-local.yml
application-local.yaml
application-secret.yml
application-secret.yaml
application-secrets.yml
application-secrets.yaml
*.local.properties
